
      <h2>User info</h2>

      <table class="table">
        <tbody>
          <tr><%= image_tag user.get_profile_image(100,100) %></tr>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>

            <% if user == current_user %>
                <%= link_to edit_user_path(user), class: 'btn btn-block btn-outline-secondary justify-content-center rounded mb-3 text-secondary' do %>
                  <i class="fa-solid fa-user-gear"></i>
                <% end %>
              <style>
                .btn:hover i{
                  color: #fff;
                  }
              </style>
            <% else %>
                <%= link_to edit_user_path(user), class: 'btn btn-block btn-outline-secondary justify-content-center rounded mb-3 text-secondary' do %>
                  <i class="fa-solid fa-user-gear"></i>
                <% end %>
              <style>
                .btn:hover i{
                  color: #fff;
                  }
              </style>
            <% end %>
