<div class="container">
  <div class="row">
    <div class="col-md-6 px-5 mx-auto">

      <h1>Editing Book</h1>

      <% if @book.errors.any? %>
        <p><%= pluralize(@book.errors.count, "error") %> prohibited your book from being saved:</p>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>


      <%= form_with model: @book do |f| %>
        <label for="inputTitle" class="form-label">Title</label>
        <p><%= f.text_field :title, id:"inputTitle", class: "form-control" %></p>

        <label for="inputOpinion" class="form-label">Opinion</label>
        <p><%= f.text_area :body, id:"inputOpinion", class: "form-control" %></p>

        <p><%= f.submit "Update Book", class: 'btn bg-success text-white' %></p>
      <% end %>

      <%= link_to 'Show', @book %> |
      <%= link_to 'Back', books_path %>

    </div>
  </div>
</div>