<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', user: @user %>
      <%= render 'books/book', book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table>
        <tbodyclass="border-top">
            <tr>
              <td>
              <%= link_to user_path(@books.user.id) do %>
                <%= image_tag @books.user.get_profile_image(100,100) %>
                <p><%= @books.user.name %></p>
              <% end %>
              </td>
              <td><%= link_to "#{@books.title}", book_path(@books) %></td>
              <td><%= @books.body %></td>
              <% if @books.user == current_user %>
              <td><%= link_to 'Edit', edit_book_path(@books), class: 'btn btn-sm bg-success text-white' %></td>
              <td><%= link_to 'Destroy', book_path(@books), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm bg-danger text-white' %></td>
              <% end %>
            </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>